body {
	background: url('../image/equipe.png') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#home {
	margin: auto;
	position: absolute;
	bottom: 2%;
	width: 50%;
}