h2 { 
   background-color: #f2f0f8 !important; opacity: 0.5;
   text-align: center; 
}

.container1 {
   width: 80%;
   margin: auto;
   text-align: center;
}

.container2 {
   width: 450px;
   margin: auto;
   text-align: center;
}

.container3 {
   display: grid;
   margin-left: 2%;
   margin-right: 2%;
   grid-template-columns: 1fr 1fr 1fr;
   justify-content: space-around;
}

.container3 * {
   max-width: 400px;
}

p {
   display: block;
   width: 450px;
   margin: 2em auto;
   text-align: center;
}

.gauge {
   width: 450px;
   height: 450px;
}

#loader {
   position: absolute;
   left: 50%;
   top: 50%;
   z-index: 1;
   width: 150px;
   height: 150px;
   margin: -75px 0 0 -75px;
   border: 16px solid #f3f3f3;
   border-radius: 50%;
   border-top: 16px solid #3498db;
   width: 120px;
   height: 120px;
   -webkit-animation: spin 2s linear infinite;
   animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
   0% { -webkit-transform: rotate(0deg); }
   100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
   position: relative;
   -webkit-animation-name: animatebottom;
   -webkit-animation-duration: 1s;
   animation-name: animatebottom;
   animation-duration: 1s
}

@-webkit-keyframes animatebottom {
   from { bottom:-100px; opacity:0 } 
   to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
   from{ bottom:-100px; opacity:0 } 
   to{ bottom:0; opacity:1 }
}

#myDiv {
   display: none;
   text-align: center;
}
